<h1>You know you're cool if you're a shouter!!!</h1>

<!-- <ul>
<% @users.each do |u| %>
	<li>
		<%= u.username %> (<%= u.id %>)
	</li>
<% end %>
</ul> -->


<ul>
<% @users.each do |u| %>
	<li>
		<%= link_to u.username, u %>
		<!--<%= link_to u.username, user_path(u.id) %>-->
	</li>
<% end %>
</ul>

<%= render "marketing" %>